<?php

/*
 * This is a local configuration for the kms-ci-framework tests
 */


$config = array(
    // url (without http://) for the qunit tests (see installation/configuration guide)
    'qunitUrl' => 'kmsciframework.local',
    // sauceLabs username:accesskey
    // 'sauceLabsLogin' => 'username:accesskey',
);
